<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam temporibus libero similique vitae itaque
            id odit nam obcaecati eaque sed, placeat tempore, eligendi ipsa commodi nostrum inventore, maxime quaerat
            at!</p>
    </div>
</div>