<div class="jumbotron  m-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, explicabo, nihil ipsa itaque quas architecto quod
        adipisci asperiores officia facere neque laborum error officiis? Quam officiis repellendus harum totam aperiam!
    </p>
    <a class="btn btn-primary btn-lg" href="http://www.google.com">Learn more</a>
</div>